// ============================ Buttons ============================
.btn
	br(30px)
	tr(all)
	display inline-block
	background none
	border 0
	text-align: center
	font-weight: 700
	@extend .type--md

	&:hover
		cursor pointer

.btn--sm
	@extend .btn
	font-size 10px
	padding 5px 10px

.btn--md
	@extend .btn
	padding 15px 25px
	letter-spacing:.5px

.btn--lg
	+below(640px)
		padding: 15px
	@extend .btn
	padding 18px 75px
	letter-spacing:.5px

.btn--xl
	+below(640px)
		padding: 15px
	@extend .btn
	@extend .type--lg
	padding 15px 80px
	letter-spacing:1.5px

.btn--mobile
	@extend .btn
	+below(768px)
		width 100%
		text-align center

.btn--shadow
	box-shadow -1px 5px 9px 1px rgba(0, 0, 0, 0.44)

.btn--mark
	@extend .btn
	color white
	background #8f0001
	.nav-icon
		fill white
	&:hover
		background-color darken(#8f0001,5)
		color white!important
	&:active
		background-color darken(#8f0001,5)
	input[type="submit"]
		border 0
	.nav-icon
		fill white

.btn--yellow
	@extend .btn
	color black
	background $yellow
	.nav-icon
		fill white
	&:hover
		background-color #f9cf02
		color black!important
	&:active
		background-color #f9cf02
	input[type="submit"]
		border 0
	.nav-icon
		fill white


.btn--disable
	@extend .disabled
	border 1px solid $border-color
	background-color #ffffff
	color #000000

.btn--light
	@extend .btn
	border 1px solid $border-color
	background-color #ffffff
	&:hover
		border 1px solid $mark
	.nav-icon
		fill $mark

.btn--white
	@extend .btn
	border 1px solid rgba(255, 255, 255, 0.9)
	color rgba(255, 255, 255, 0.9)
	.nav-icon
		fill rgba(255, 255, 255, 0.9)

.btn--icon
	flex(mid)
	.nav-icon
		margin-left: 10px

.nav-icon
	size 20px
	display inline-block

.btn--icon-left
	.nav-icon
		margin-left: 0
		margin-right: 10px

.btn-row-mid
	flex(mid)
	margin: 30px 0

.btn-row-mid--clear
	margin: 0

.btn--full
	width: 100%
	display block