@import 'rupture'
@import "variable/_function.styl"
@import "variable/_ie.styl"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/config/_color.styl"
@import "variable/config/_typography.styl"
@import "variable/config/_btn.styl"
@import "variable/config/_input.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em
	//transition padding .2s
.main-cont
	center(1200px,10px)

.main-cont--full
	height: 100%

.page
	f()
	fl()
	min-height 100vh

.content
	flex-grow 1

.content--mid
	flex(mid)

// animate top menu
@keyframes slideInDown
	from
		transform: translate3d(0, -100%, 0)
		visibility: visible;
	to
		transform: translate3d(0, 0, 0)

.shrink
	position fixed!important
	top 0
	left 0
	background $red
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out;
	z-index 100
	.header
		+below(640px)
			.btn--md
				display none
		padding: 8px 0
// animate top menu === end

// error
.page-error
	flex(mid)
	fl()
	height: 100%
.page-error__title
	@extend .type--xl
	margin-bottom: 30px
	font-weight: 700
	color $gray
.page-error__img
	margin-bottom: 30px
.page-error__text
	@extend .type--md
	color $gray
	margin-bottom: 30px
.page-error__get
	@extend .btn--md
	@extend .btn--mark
// error === end

// modal
.modal-layer
	width: 100%
	height: 100vh
	position: fixed
	z-index 1000
	top 0
	left 0
	visibility: hidden
	transition all 1s // duration for fade
	opacity 0

.modal-layer-show
	visibility: visible
	opacity 1

.modal-cont
	width: 100%
	height: 100%
	position: relative
	max-height 100%
	overflow: auto

.modal-filter
	position: absolute
	top: 0
	left: 0
	background: #18191da1
	width: 100%
	height: 100vh
	min-height 100vh

.modal
	+below(640px)
		width: 100%
		box-shadow 0 0 0
	transform scale(.9) translateZ(0) translate3d(0, 0, 0)
	will-change: transform, opacity;
	backface-visibility: hidden
	position: absolute
	opacity 0
	transition transform .6s, opacity .8s
	max-width 450px
	left -9999px
	top -9999px
	.order__row
		margin-bottom: 20px
		border-bottom 0

.modal-content
	+below(640px)
		height: 100%
		padding: 60px 20px 40px 20px
		overflow-y scroll
		width: 95%!important
		margin: 20px auto
	background: white
	position: relative
	padding: 40px 45px
	br(40px)

.modal__show
	max-height 100%
	opacity 1
	transform scale(1) translateZ(0) translate3d(0, 0, 0)
	position: relative
	z-index 1000
	left initial
	top initial
	transition transform .6s, opacity .8s
	will-change: transform, opacity

.modal-close
	+below(768px)
		top 12px
		right 12px
	position: absolute
	top: 20px
	right: 20px
	cp()
	size 50px
	br(20px)
	flex(mid)
	z-index 10
	background: #f8f8f8
	&:hover
		.icon
			opacity: 1
	.icon
		tr()
		size 12px
		fill black
		opacity:.3

.modal-hide-animation
	transform scale(.9)
	opacity 0
	transition transform .6s, opacity .8s
.modal-open
	overflow: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%

.modal-wrap
	position: fixed
	width: 100%
	height: 100%
	overflow-y auto
	flex(mid)

.modal-title
	+below(768px)
		font-size: 26px
	margin-bottom: 20px
	text-align: center
	@extend .type--lgx
	font-weight: 700

.modal-text
	+below(768px)
		width: 100%
	text-align: center
	margin: 10px auto
	font-size: 14px
	//width: 80%
	line-height: 1.6


.modal-send
	@extend .btn--md
	@extend .btn--yellow
	width: 100%

.modal-img
	max-width 150px
	margin: 0 auto 20px auto

// modal === end

// cookie
.cookie
	position: fixed
	bottom 20px
	left 0
	width: 100%
	transform translateY(10px)
	opacity: 0
	z-index -1
	tr()
.cookie--active
	z-index 20
	opacity: 1
	transform translateY(0)
.cookie-wrap
	bsh()
	padding: 15px 20px
	br(20px)
	z-index 10
	background: white
	f()
	justify-content: space-between
	.icon
		&:hover
			fill black
		tr()
		size 14px
		margin-left: 10px
		fill $gray
		cp()
.cookie-text
	width calc(100% - 30px)
	font-size: 12px
// cookie === end

// drop
.dropdown
	width: 100%
	display inline-block
	br(4px)
	tr()
	position relative
	border 1px solid $border-color
	outline none!important
.dropdown-current
	cursor pointer
	display block
	padding 10px
	padding-right 25px
	font-weight: 700
	.icon
		position absolute
		top calc(50% - 6px)
		right 10px
		size 12px
		tr()

.dropdown.active
	border-radius 4px 4px 0 0
	.icon
		transform rotate(180deg)

.dropdown-menu
	position absolute
	background-color #fff
	width calc(100% + 2px)
	left -1px
	margin-top -1px
	border-radius 0 0 4px 4px
	overflow hidden
	display none
	max-height 200px
	overflow-y auto
	z-index 10
	border 1px solid $border-color
.dropdown-menu__el
	padding 10px
	cp()
	tr()
	border-bottom 1px solid $border-color
	//background: #f9f9f9
	&:last-child
		border 0
	&:hover
		background: white
		color black
// drop === end

// cookie
.cookie
	position: fixed
	bottom 20px
	left 0
	width: 100%
	transform translateY(10px)
	opacity: 0
	z-index -1
	tr()
.cookie--active
	z-index 20
	opacity: 1
	transform translateY(0)
.cookie-wrap
	padding: 15px 20px
	br(20px)
	z-index 10
	background: white
	f()
	justify-content: space-between
	border 1px solid $border-color
	.icon
		&:hover
			fill black
		tr()
		size 14px
		margin-left: 10px
		fill $gray
		cp()
.cookie-text
	width calc(100% - 30px)
	font-size: 12px
// cookie === end

.main-section
	height: 100vh
	bg-full()

.header
	+below(480px)
		fw()
	padding: 20px 0
	f()
	align-items center
	.soc-row
		+below(480px)
			margin-right: 0
			.soc-row__el
				&:last-child
					margin-right: 0
		margin-right: 20px
	.btn--md
		+below(640px)
			margin-top: 20px
			width: 100%
.logo
	+below(480px)
		width: 100px

.header-get
	+below(640px)
		display none

.header__phone
	+below(960px)
		margin-right: 0
		span
			display none

	f()
	align-items center
	margin-right: 40px
	.icon
		+below(480px)
			size 20px
		size 32px
		margin-right: 20px
		fill white
		animation: shake 4s cubic-bezier(.36,.07,.19,.97) both
		transform: translate3d(0, 0, 0);
		backface-visibility: hidden;
		perspective: 1000px
		animation-iteration-count: infinite
		animation-delay: 3s
	margin-left auto
	@extend .type--lg
	font-weight: 700
	color $yellow
.soc-row
	f()
.soc-row__el
	+below(480px)
		size 32px
	round()
	flex(mid)
	tr(all)
	margin-right: 10px
	size 42px
	border 2px solid #8f0001
	.icon
		+below(480px)
			size 14px
		size 20px
		fill #8f0001
.soc-row--white
	.soc-row__el
		&:hover
			.icon
				fill $yellow
			border-color $yellow
		.icon
			tr()
			fill white
		border-color white

.slogan
	color white
	margin-top: -10%
	max-width 700px
	width: 100%
.slogan-wrap
	height: 100%
	f()
	fl()
	justify-content: center
	margin-top: 2%
.slogan__title
	font-weight: 700
	@extend .type--xl
	margin-bottom: 20px

.slogan__title-cost
	+below(768px)
		font-size: 15vw
	font-size: 148px
	color $yellow
	span
		+below(640px)
			font-size: 24px
		font-size: 32px

.slogan__text
	@extend .type--lg

.slogan__btn
	+above(641px)
		display none
	width: 100%
	margin-top: 20px

.section-work
	+below(768px)
		padding: 40px 0
	bg-full()
	padding: 100px 0
.work-head
	+below(768px)
		fw()
	f()
	align-items: flex-start
	justify-content space-between

.work-head__title
	+below(1024px)
		max-width auto
		width: 60%
		font-size: 42px
	+below(768px)
		width: 100%
		margin-bottom: 20px
	+below(640px)
		font-size: 32px
	font-weight: 700
	@extend .type--xl
	max-width 680px

.work-head__get
	+below(640px)
		fw()
		width: 100%
		.btn--md
			width: 100%
			margin: 20px 0
			border 1px solid $border-color
	f()
	align-items center

.work-cont
	+below(640px)
		margin: 20px 0
	f()
	margin: 100px 0
.work-cont__info
	+below(768px)
		max-width auto
		width: 60%
	+below(640px)
		width: 100%
	@extend .type--lgx
	color white
	max-width 600px
	margin-left auto
	line-height: 1.4
.work-advant
	f()
	align-items: flex-start
	justify-content: space-around

.work-advant__el
	+below(640px)
		width: 32%
	flex(mid)
	fl()
	width: 30%
	.icon
		+below(640px)
			size 48px
			margin-bottom: 10px
		fill white
		size 72px
		margin-bottom: 20px
.work-advant__el-info
	+below(640px)
		font-size: 12px
	flex(mid)
	fl()
	color white
	@extend .type--lg

.section-process
	+below(768px)
		padding: 40px 0
	padding: 100px 0

.process__title
	@extend .type--xl
	bottom: 20px
	font-weight: 700
	margin-bottom: 20px

.process-head
	position relative
	z-index 10

.process-get
	f()
	align-items center
	.btn--md
		+below(640px)
			padding: 15px 20px
		margin-right: 20px

.process-img
	+below(740px)
		display none
	margin-top: -10%

.process
	+below(740px)
		fw()
		padding: 20px 0 0 0

	f()
	padding: 20px 0
	justify-content space-between
.process__col
	+below(768px)
		width: 22%
		padding: 0 10px
	+below(740px)
		width: 48%
	+below(480px)
		width: 100%
		margin-bottom: 30px
		&:last-child
			margin-bottom: 0
	width: 16%
	ul
		padding-left: 20px
		li
			margin-bottom: 10px
			font-weight: 500
			line-height: 1.4
.process__col-title
	+below(740px)
		align-items center
	font-weight: 700
	@extend .type--md
	line-height: 1.6
	f()
.process__col-title-numb
	+above(741px)
		display none
	width: 40px
	margin-right: 20px
.process__col-title-text
	+below(740px)
		width calc(100% - 60px)
		font-size: 18px


.section
	+below(768px)
		padding: 40px 0
	padding: 100px 0

.section--gray
	background: #f8f8f8

.section-title
	+below(768px)
		margin-bottom: 40px
	text-align center
	font-weight: 700
	@extend .type--xl
	margin-bottom: 80px
.grid
	+below(640px)
		grid-template-columns: repeat(auto-fill, minmax(6rem,1fr))
		grid-gap 10px
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(5, 1fr)
	//grid-template-columns: repeat(auto-fill, minmax(12rem,1fr))
.grid--mark
	.grid__el
		border 1px solid $border-color
.grid__el
	+below(640px)
		padding: 15px
	padding: 20px
	background: white
.grid__el-img
	bg-full()
	padding: 10% 5%
	width: 100%
	background-size: contain

.cost
	+below(740px)
		fl()
		align-items center
	flex(between)
	align-items: flex-start
.cost__col
	+below(1024px)
		width: 31%
	+below(740px)
		margin-top: 0 !important
		margin-bottom: 30px
		width: 300px
	br(10px)
	box-shadow 0 0 51px rgba(0, 0, 0, 0.16)
	width: 28%
	&:nth-child(1)
		margin-top: 200px
		.cost__col-head
			+below(1024px)
				padding-bottom:40%
			+below(740px)
				padding-bottom:45%
			padding-bottom: 140px
		.cost__col-head-bg
			width calc(100% + 25px)
			background-position top
	&:nth-child(2)
		.cost__col-head
			+below(1024px)
				padding-bottom:30%
			padding-bottom: 100px
		.cost__col-head-bg
			width calc(100% + 5px)
			background-position top
	&:nth-child(3)
		margin-top: 100px
		.cost__col-head
			+below(1024px)
				padding-bottom:30%
			padding-bottom: 100px
		.cost__col-head-bg
			width calc(100% + 17px)
			background-position top
			left -17px
.cost-info
	padding: 0 30px 30px 30px

.cost-get
	.btn--md
		width: 100%

.cost__col-head
	bg-full()
	color white
	text-align center
	padding: 30px
	position relative
.cost__col-head-bg
	position absolute
	top 0
	left 0
	width: 100%
	height: 100%
	bg-full()
	background-size contain
.cost__col-title-false
	display inline-block
	@extend .type--lg
	margin-bottom: 10px
	position relative
	&:before
		content ''
		width calc(100% + 10px)
		height: 3px
		position absolute
		left -5px
		top calc(50% - 3px)
		background: white
		transform rotate(-3deg)
.cost__col-title-true
	+below(1024px)
		font-size: 32px
	@extend .type--xl
	font-weight: 700
	position relative
	span
		@extend .type--md

.cost-list
	margin-bottom: 30px
.cost-list__el
	font-weight: 700
	margin-bottom: 20px
	padding-left: 26px
	position relative
	&:before
		content ''
		size 16px
		bg-full()
		background-image: url(../img/check.svg)
		position absolute
		left -5px
		top 2px

.section-cost
	overflow hidden

.develop
	+below(640px)
		fl()
		flex(mid)
	f()
	justify-content space-between
	align-items: flex-start
	margin-bottom: 60px
.develop__el
	+below(640px)
		width: 100%
		margin-bottom: 30px
		&:last-child
			margin-bottom: 0
	width: 28%
	flex(mid)
	fl()
.develop__el-title
	+below(768px)
		font-size: 24px
	text-align center
	font-weight: 700
	@extend .type--lg
	margin-bottom: 20px
.develop__el-img
	+below(640px)
		max-width: 200px
	width: 80%

.develop-img
	+below(768px)
		margin-bottom: 30px
	padding: 30% 10%
	bg-full()
	br(10px)
	box-shadow 0px 12px 18px #dedada
	margin-bottom: 60px

.section-marketing
	padding: 100px 0 300px 0
	bg-full()
	background-color #f8f8f8
.marketing-wrap
	text-align center
	max-width 1024px
	margin: 0 auto
	color white
.marketing-title
	font-weight: 700
	@extend .type--xl
	margin-bottom: 40px
.marketing-text
	@extend .type--lg
	margin-bottom: 40px

.footer
	padding: 40px 0
	background: #f8f8f8

.footer-wrap
	flex(mid)
	fl()
	text-align center
.footer-logo
	margin-bottom: 30px
.footer-title
	font-weight: 700
	@extend .type--xl
	margin-bottom: 30px

.footer-descr
	+below(640px)
		font-size: 16px
		padding 0 30px
		line-height: 1.6
	@extend .type--md
	margin-bottom: 15px
	line-height: 1.4
	strong
		+below(640px)
			font-size: 16px
			width: 100%
			display block
		font-size: 22px

.option
	br(20px)
	overflow hidden
	background: white
.header-wrap
	position absolute
	top 0
	left 0
	width: 100%
	z-index 100
.option__header
	+below(640px)
		padding 50px 0 20px 0
		background-size: cover
	bg-full()
	background-size: contain
	background-repeat: no-repeat
	background-position: top center

	padding 80px 0 40px 0
	flex(mid)
	fl()
.option__img
	+below(640px)
		width: 80%
		margin 0 auto 20px auto
	margin-bottom: 20px
.option__title
	text-align center
	max-width 400px
	@extend .type--md
	font-weight: 700
	line-height: 1.4
.option-wrap
	+below(740px)
		fw()
	f()
.option-col
	+below(740px)
		width: 100%
	width: 25%
	border-right 1px solid $border-color
.option-col-head
	padding: 10px
	text-align center
	flex(mid)
	border-top 1px solid $border-color
	border-bottom 1px solid $border-color
.option-col-head.active
	.icon
		transform rotate(45deg)
.option-col__title
	f()
	font-weight: 700
	@extend .type--lg
	align-items center
	.icon
		+above(740px)
			display none
		tr()
		size 14px
		margin-left: 10px
		fill $red
.option-descr
	+below(740px)
		display none
	padding: 20px 30px
	p
		margin-top: 0
		&:last-child
			margin-bottom: 0
.list__el
	margin-bottom: 10px
	line-height: 1.4
	position relative
	padding-left: 10px
	&:before
		content ''
		position absolute
		size 6px
		round()
		left -6px
		top 8px
		background: $red
.option-footer
	+below(640px)
		padding: 20px
		font-size: 14px
		font-weight: 400
		br
			display none
	padding: 20px
	border-top 1px solid $border-color
	text-align center
	font-weight: 700
	flex(mid)
	@extend .type--lg


// slick
.slick-slide
	&:hover
		outline none!important
	&:active
		outline none!important
	&:focus
		outline none!important

.slick-list
	transition height .4s

// === for custom navigation ===
.slider-wrap
	position relative

//Навигация снаружи
.slider-wrap--simple
	.slider-control
		+below(1400px)
			display none
		br(4px)
		flex(mid)
		tr(all)
		size 60px
		position: absolute
		top 50%
		margin-top: -20px
		z-index 10
		cp()
		background: #a00006
		&:hover
			background: $red
			.icon
				fill white
		.icon
			size 24px
			fill white
	.slider-control--left
		left -80px
	.slider-control--right
		right -80px
.slider-wrap--inarrow
	.slider-control
		flex(mid)
		tr(all)
		position: absolute
		top 50%
		margin-top: -20px
		z-index 10
		padding: 20px 10px
		background: black
		cp()
		opacity: .6
		&:hover
			opacity: 1
			.icon
				fill white
		.icon
			fill white
			size 24px
	.slider-control--left
		left 0
	.slider-control--right
		right 0
//Навигация снаружи end
.slick-dots
	+below(720px)
		bottom -40px
	width: 100%
	display: flex !important
	align-items: center
	justify-content: center
	bottom -50px
	li
		+below(720px)
			flex(mid)
	.dot
		+below(720px)
			flex(mid)
			size 16px
		background: $red
		size 20px
		display: block
		round()
		opacity: .5
	.slick-active
		.dot
			opacity: 1
.slick-dotted.slick-slider
	+below(768px)
		margin-bottom: 60px
	margin-bottom: 90px
// slick === end

@keyframes shake
	from,5%,to
		transform: translate3d(0, 0, 0);
	10%
		transform: skewX(-12.5deg) skewY(-12.5deg);
	15%
		transform: skewX(6.25deg) skewY(6.25deg);
	20%
		transform: skewX(-3.125deg) skewY(-3.125deg);
	26%
		transform: skewX(1.5625deg) skewY(1.5625deg);
	33%
		transform: skewX(-0.78125deg) skewY(-0.78125deg);
	37%
		transform: skewX(0.390625deg) skewY(0.390625deg);
	44%
		transform: skewX(-0.1953125deg) skewY(-0.1953125deg);


.shake
	animation: shake 1.2s cubic-bezier(.36,.07,.19,.97) both
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;

